@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.slideshow-item {
    height: 100vh;
    width: 100%;
    background-color: #58555A;
    position: relative;
}

.container {
    position: relative;
    padding: 50px;
}

.background {
    background-color: black;
}

.navbar-brand {
    text-align: right;
    font-family: "roboto";
}

.navbar{
    z-index:9; 
   }
   #slideshow{
     position:absolute;
     width:100%;
     top:0;
   }