@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
/* Light: 300, Normal: 400, Bold: 700 */

/* h1 {
  font-family: 'oswald';
  font-size: 50px;
  padding: 2%;
  text-align: right;
  float: right;
} */


/* p1 {
  font-family: 'oswald';
  font-size: 30px;
  padding: 2%;
  text-align: center;
  float: left;
  font-weight: 300;
}

p2 {
  font-family: 'oswald';
  font-size: 50px;
  padding: 1%;
  text-align: center;
  float: right;
  font-weight: 700;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #58555A
} */

/* .background {
  height: 100%;
  width: 100%;
  background-color: #58555A
} */

/* .carousel-item active{
  width: 100%;
  height: 500px;

} */

/* ################################## Slideshow ################################## */
