.slideshow-item {
    width: 100%;
    position: relative;
}

.container {
    position: relative;
    padding: 50px;
}

body {
    background-color: rgba(33, 37, 41, 1.00) !important;
}

p {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}

h1 {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    text-align: center;
    text-decoration: underline;
}

.row {
    display: flex;
  }
  
  .column {
    padding-top: 2%;
    flex: 50%;
    text-align: center;
  }