@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
        url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url('roboto-black-webfont.woff2') format('woff2'),
        url('roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.slideshow-item {
    width: 100%;
    position: relative;
}

.container {
    position: relative;
    padding: 50px;
}

body {
    background-color: rgba(33, 37, 41, 1.00) !important;
}

p {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}

.profile {
    position: relative;
    left: 40%;
    width: 10%;
    height: 40%;
}

.aboutMe {
    position: relative;
    right: 40%;
}